<div class="page-holder align-items-center py-4 bg-gray-100 vh-100" style="padding: 20px;">
    <div class="card" style="box-shadow: 0 0 10px #aaaaaa;">
        <div class="row align-items-center">
            <div class="px-lg-4">
                <div class="card-header">
                    <app-navbar></app-navbar>
                </div>
                <div class="container mt-5 mb-5">
                    <h1 class="text-center">My Profile</h1><br><br>
                    <div class="card text-center" style="padding: 10px 10px;">
                        <h4>Name : {{user.username}}</h4>
                        <h4>Email : {{user.emailId}}</h4>
                    </div>
                </div>
                <div class="position-relative card-footer">
                    <div>
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>